fastapi==0.110.3
starlette==0.37.2
uvicorn==0.29.0
httpx==0.27.0

psycopg2-binary==2.9.9
sqlalchemy==2.0.30
python-dotenv==1.0.1
requests==2.32.3
pandas==3.0.2
openpyxl==3.1.5

numpy==1.26.4
scipy==1.13.1
scikit-learn==1.4.2
faiss-cpu==1.8.0

spacy==3.7.4
thinc==8.2.5
blis==0.7.11
catalogue==2.0.10
srsly==2.5.1
wasabi==1.1.2
weasel==0.3.4
langcodes==3.4.0
typer==0.9.0
smart-open==6.4.0

sentence-transformers==3.0.0
transformers==4.41.2
huggingface-hub==0.23.2
tokenizers==0.19.1

pydantic==2.7.0
anthropic==0.25.0
